# Required to run your project under the correct environment.
language: php

# Versions of PHP you want your project run with.
php:
  - 5.6

# Commands to be run before your environment runs.
before_script:
  - cp phpspec.yml.dist phpspec.yml
  - composer self-update
  - composer install --prefer-source --no-interaction --dev --optimize-autoloader

# allow_failures: Allow this build to fail under the specified environments.
# fast_finish: If your build fails do not continue trying to build, just stop.
matrix:
    fast_finish: true

# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: always

script:
  - ./vendor/bin/phpspec run

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
